.card-container {
    padding: 10px;
    margin: 3px;
}

.person-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-height: 300px;
    position: relative;
 }

.read-more-button {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    padding: 15px 24px;
    border-radius: 3px;
    border-bottom: none;
    background-color: #282c34;
    outline: none;
}

.author-of-the-day .author-of-the-day__container {
    background-color: #f1f1f1;
}

@media screen and (max-width: 1024px) {
    .person-card-container {
        width: 90vw;
    }
}