.card-container {
    padding: 10px;
    margin: 3px;
}

.person-card-container {
     display: flex;
     justify-content: space-between;
     max-width: 400px;
     min-height: 200px;
 }

.read-more-button {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    padding: 15px 24px;
    border-radius: 3px;
    border-bottom: none;
    background-color: #282c34;
    outline: none;
}
