/* button {
  text-decoration: none;
  color: #282c34;
  background:none;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  border-bottom:1px solid #444; 
  cursor: pointer;
} */

.lang button {
  font-weight: normal;
  font-size: 0.9em;
}
